* {
  font-family: Arial;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  text-align: center;
  background-color: hsl(20, 70%, 95%);
}

.row {
  margin-top: 100px;
}

button {
  border: none;
}

.btn {
  width: 100px;
  height: 50px;
  background-image: linear-gradient(hsl(0, 0%, 95%) 10%, hsl(0, 0%, 30%) 95%);
  border: 1px solid;
  border-radius: 10px;
  font-weight: 600;
}

.btn:hover {
  background-image: linear-gradient(hsl(0, 0%, 100%) 5%, hsl(0, 0%, 20%) 100%);
}

.btn:active {
  background-image: linear-gradient(hsl(0, 0%, 90%) 0%, hsl(0, 0%, 10%) 100%);
  border: 3px groove;
}

@media (max-width: 760px) {
  .btn {
    width: 90%;
  }
}
