footer {
  background-color: white;
  height: 50px;
  margin: 20px 0 0 0;
  text-align: left;
  position: relative;
}

footer a {
  display: inline-block;
  height: 100%;
}

footer i {
  font-size: 2em;
  margin-top: 9px;
  color: hsl(0, 0%, 25%);
  margin-left: 20px;
}

footer span {
  font-size: 1.4em;
  position: relative;
  margin-left: 10px;
  bottom: 3px;
  display: none;
}

@media (min-width: 576px) {
  footer span {
    display: inline-block;
  }

  footer i {
    margin-left: 10px;
  }
}
