select {
  padding-left: 20px;
  font-size: 1.4em;

}

option {
  border: 2px solid black;
}

input {
  height: 30px;
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 50px;
}

#Converted {
  margin: 100px 0;
  font-size: 3em;
}
