.table-head {
  display: block;
  width: 290px;
  height: 80px;
  margin: 15px auto;
  border: 4px solid black;
  background-color: white;
  display:inline-block;

}

.table-head h2 {
  display: inline-block;
  margin-top: 25px;
}

table {
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  background-color: white;
  border-collapse: collapse;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

thead {
  background-color: #5a989e;
}

th {
  font-size: 1.5em;
  color: white;
}

tr {
  height: 50px;
  border-top: 2px solid black;
}

tbody {
  font-size: 1.2em;
  background-color: hsl(50, 40%, 90%);
}

td {
  height: 60px;
}

.right {
  width: 20%;
}

.left {
  width: 30%;
}

@media (max-width: 576px) {
  table {
    width: 100vw;
  }
}
